/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: 'GoodTimes';
  src: url('../fonts/good-times-rg.ttf') format('truetype');
}
@font-face {
  font-family: 'CabinBold';
  src: url('../fonts/Cabin-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Cabin';
  src: url('../fonts//Cabin-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cantarell';
  src: url('../fonts//Cantarell-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CantarellBold';
  src: url('../fonts/Cantarell-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts//Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OswaldBold';
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OswaldSemiBold';
  src: url('../fonts/Oswald-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikBlack';
  src: url('../fonts/Rubik-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikBold';
  src: url('../fonts//Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikExtraBold';
  src: url('../fonts/Rubik-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Signika';
  src: url('../fonts//Signika-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SignikaBold';
  src: url('../fonts/Signika-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SignkaSemiBold';
  src: url('../fonts/Signika-SemiBold.ttf') format('truetype');
}

/* Styles */
.logoShrunk {
  display: none;
}

.heroBanner {
  height: 100vh;
}

.header {
  position: fixed;
  height: 150px;
  width: 100%;
  z-index: 9998;
  background-color: transparent;
  transition: all 1s ease;
}

.scrolledHeader {
  position: fixed;
  width: 100%;
  background-color: rgba(213, 37, 37, 100);
  height: 55px;
}

.scrolledHeadWrapper {
  margin-left: 0rem;
}

.transparent {
  background-color: transparent;
}

@media screen and (max-width: 415px) {
  .logoSpacing {
    width: 140px;
  }

  .header {
    position: static;
  }

  .scrolledHeader {
    position: fixed;
    margin: auto;
  }

  .heroBanner {
    height: 40vh;
  }

  .transparent {
    display: none;
  }
}
